src/main/resources/wsdl/students.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://vkiprono.com/api/studentws/studentdetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vkiprono.com/api/studentws/studentdetails" targetNamespace="http://vkiprono.com/api/studentws/studentdetails">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://vkiprono.com/api/studentws/studentdetails">
            <xs:element name="GetStudentByAdmRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="admNo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetStudentByAdmResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="student" type="tns:student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="student">
                <xs:sequence>
                    <xs:element name="studentId" type="xs:long"/>
                    <xs:element name="admNo" type="xs:string"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                    <xs:element name="course" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="gender" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetAllStudentsRequest">
                <xs:complexType/>
            </xs:element>
            <xs:element name="GetAllStudentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="student" type="tns:student"> </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddStudentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="admNo" type="xs:string"/>
                        <xs:element name="firstname" type="xs:string"/>
                        <xs:element name="lastname" type="xs:string"/>
                        <xs:element name="course" type="xs:string"/>
                        <xs:element name="age" type="xs:int"/>
                        <xs:element name="gender" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AddStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="student" type="tns:student"/>
                        <xs:element name="serviceStatus" type="tns:ServiceStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateStudentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="student" type="tns:student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UpdateStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:ServiceStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteStudentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="admNo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DeleteStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:ServiceStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ServiceStatus">
                <xs:sequence>
                    <xs:element name="statusCode" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AddStudentResponse">
        <wsdl:part element="tns:AddStudentResponse" name="AddStudentResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteStudentRequest">
        <wsdl:part element="tns:DeleteStudentRequest" name="DeleteStudentRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStudentByAdmResponse">
        <wsdl:part element="tns:GetStudentByAdmResponse" name="GetStudentByAdmResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllStudentsRequest">
        <wsdl:part element="tns:GetAllStudentsRequest" name="GetAllStudentsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStudentByAdmRequest">
        <wsdl:part element="tns:GetStudentByAdmRequest" name="GetStudentByAdmRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllStudentsResponse">
        <wsdl:part element="tns:GetAllStudentsResponse" name="GetAllStudentsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddStudentRequest">
        <wsdl:part element="tns:AddStudentRequest" name="AddStudentRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateStudentRequest">
        <wsdl:part element="tns:UpdateStudentRequest" name="UpdateStudentRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateStudentResponse">
        <wsdl:part element="tns:UpdateStudentResponse" name="UpdateStudentResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteStudentResponse">
        <wsdl:part element="tns:DeleteStudentResponse" name="DeleteStudentResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StudentsPort">
        <wsdl:operation name="AddStudent">
            <wsdl:input message="tns:AddStudentRequest" name="AddStudentRequest"> </wsdl:input>
            <wsdl:output message="tns:AddStudentResponse" name="AddStudentResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteStudent">
            <wsdl:input message="tns:DeleteStudentRequest" name="DeleteStudentRequest"> </wsdl:input>
            <wsdl:output message="tns:DeleteStudentResponse" name="DeleteStudentResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStudentByAdm">
            <wsdl:input message="tns:GetStudentByAdmRequest" name="GetStudentByAdmRequest"> </wsdl:input>
            <wsdl:output message="tns:GetStudentByAdmResponse" name="GetStudentByAdmResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllStudents">
            <wsdl:input message="tns:GetAllStudentsRequest" name="GetAllStudentsRequest"> </wsdl:input>
            <wsdl:output message="tns:GetAllStudentsResponse" name="GetAllStudentsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStudent">
            <wsdl:input message="tns:UpdateStudentRequest" name="UpdateStudentRequest"> </wsdl:input>
            <wsdl:output message="tns:UpdateStudentResponse" name="UpdateStudentResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StudentsPortSoap11" type="tns:StudentsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddStudent">
            <soap:operation soapAction=""/>
            <wsdl:input name="AddStudentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AddStudentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteStudent">
            <soap:operation soapAction=""/>
            <wsdl:input name="DeleteStudentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="DeleteStudentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStudentByAdm">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetStudentByAdmRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetStudentByAdmResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllStudents">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetAllStudentsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAllStudentsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateStudent">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateStudentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateStudentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StudentsPortService">
        <wsdl:port binding="tns:StudentsPortSoap11" name="StudentsPortSoap11">
            <soap:address location="http://localhost:9002/soapws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>